# ===============================
# Google Drive
# ===============================
DRIVE_FOLDER_ID=
DRIVE_UPLOADED_FOLDER_ID=

# ===============================
# Local
# ===============================
DOWNLOAD_FOLDER=downloads

# ===============================
# YouTube
# ===============================
YOUTUBE_PRIVACY=private
YOUTUBE_CATEGORY=22
YOUTUBE_DESCRIPTION=Video publicado automáticamente.
YOUTUBE_TAGS=IA,Automatizacion,Shorts

# ===============================
# Scheduler
# (Solo para desarrollo local)
# ===============================
CHECK_INTERVAL_HOURS=5