# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo

# ===============================
# Virtual Environments
# ===============================
venv/
.venv/

# ===============================
# Environment Variables
# ===============================
.env

# ===============================
# Google Credentials
# ===============================
credentials/

# ===============================
# Temporary Files
# ===============================
downloads/
logs/

# ===============================
# IDE
# ===============================
.vscode/
.idea/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db